.game .character {
  font-size: 60px;
}

.game .input__field {
  font-size: 16px;
}

.game .input__option-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  font-weight: 600;
}

.game .input__option {
  flex: 1;
  border: 1px solid black;
  height: 30px;
}

.game .input__option:first-child {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

.game .input__option:last-child {
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

.game .input__option--selected {
  background-color: cadetblue;
}
